@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="main__presentation">
    <div class="main-title">Formateurs Associés</div>
    <div class="main-subtitle">Quoi ? Pourquoi ? Comment ?</div>
    <div class="main__presentation-txt">
      @ShowcaseResources.LoremIpsum
    </div>
</section>


<section class="section__training-list">
    <div class="section__label">
        <h2>Nombre de formations : 122 | Nombre de formateur·trices : 87</h2>
    </div>
    @* Boucle sur 10 formations order by random *@
</section>
