@page
@model Smart.FA.Catalog.Showcase.Web.Pages.RgpdModel
@{
    ViewData["Title"] = "RGPD - Confidentialité";
}
<main class="main">
    <section class="main__presentation">
        <div class="main-title">RGPD - Confidentialité</div>
        <div class="main__presentation-txt">
            <div class="main-subtitle">Politique de protection des données personnelles</div>
            <p class="main__paragraph">
                Smart accorde une grande importance à la protection de vos données personnelles.
            </p>
            <p class="main__paragraph">
                Le règlement 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données (RGPD), entré en vigueur le 25 mai 2018, offre un cadre plus exigeant en matière de vie privée :
                <ul>
                    <li>- en prenant en compte les nouveaux enjeux pour la protection des données à caractère personnel crées par l'évolution rapide des technologies et la mondialisation ; </li>
                    <li>- en renforçant les libertés et les droits fondamentaux des citoyens européens ;</li>
                    <li>- en responsabilisant les différents acteurs traitant des données (responsables de traitement et sous-traitants) ;</li>
                    <li>- en harmonisant la régulation grâce à une coopération renforcée des autorités de protection des données et un cadre unifié dans les 28 états membres de l'UE</li>
                </ul>
            </p>
            <p class="main__paragraph">
                Smart traite vos données à caractère personnel et est, à ce titre, tenue de respecter cette réglementation européenne en matière de vie privée.
            </p>
            <p class="main__paragraph u-spacer-top-s">
                Pour avoir de plus amples informations sur la manière dont Smart utilise vos données, vous pouvez consulter <a href="https://smartbe.be/fr/smart-politique-de-protection-des-donnees-personnelles/">notre Politique de protection des données personnelles</a>.
            </p>

            <p class="main__paragraph">
                Si vous avez des questions ou des commentaires concernant leur traitement, vous pouvez nous contacter en nous adressant un email à l'adresse suivante : dpo[at]smart.coop
            </p>

            <div class="main-subtitle">Politique des cookies</div>
            <p class="main__paragraph">
                La navigation sur le site learning.smart.coop est susceptible de provoquer l'installation de cookies sur l'ordinateur de l'utilisateur.
            </p>
            <p class="main__paragraph">
                <p>
                    <b>Qu'est-ce qu'un cookie ?<br/><br/></b>
                </p>
                Un cookie est un fichier de petite taille, qui ne permet pas l'identification de l'utilisateur, mais qui enregistre des informations relatives à la navigation d'un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site (préférence linguistique, par exemple), et ont également vocation à permettre diverses mesures de fréquentation.
            </p>
            <p class="main__paragraph">
            <p>
                <b>Quels sont les cookies utilisés sur ce site ?</b>
            </p>
            <ul>
            <li>
                <br/>- AspNetCore.Antiforgery.<br/>Il s'agit de cookies nécessaires qui permettent de protéger le système de connexion contre les utilisations abusives comme par exemple des attaques CSRF (Cross-Site Request Forgery).<br/>
                La durée de conservation est la durée de la session. <br/><br/>
            </li>
            <li>- _ga<br/>Il s'agit d'un cookie de suivi de Google Analytics<br/>Celui reprend : des informations sur les sous-domaines smart.coop, un identifiant d'utilisateur de Google et le timestamp de la création du cookie. </li>
            </p>
            <p class="main__paragraph">
                <p>
                    <b>Comment désactiver les cookies ?<br/><br/></b>
                </p>
                Refuser l'installation d'un cookie peut entraîner l'impossibilité d'accéder à certains services. L'utilisateur peut toutefois configurer son ordinateur pour désactiver l'installation des cookies. L'opération doit être répétée sur chaque ordinateur et chaque navigateur utilisé.
            </p>
        </div>
    </section>
</main>
