
<div class="c-dialog-context o-flex--center" id="inquiry-form-dialog">
    <div class="c-dialog c-dialog--large" role="dialog" aria-labelledby="dialogTitle-02">
        <div class="c-dialog__header c-dialog__header--bordered">
            <div class="c-dialog__close" style="float: right; padding: 0.6rem;">
                <a data-dialog-close>
                    <img src="/icons/close.svg " class="o-svg-icon--medium"/>
                </a>
            </div>
            <div class="c-toolbar c-toolbar--spaced">
                <div class="c-toolbar__left">
                    <div class="c-toolbar__item">
                        <h2 class="c-dialog__title" id="dialogTitle-02">@ShowcaseResources.TrainerCard_Contact @ShowcaseResources.To @Model.firstName @Model.lastName</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-dialog__body">
            <div class="u-spacer">
                <section class="main__presentation">
                    <partial name="Partials/Inquiry/_FormSendingMailResultAlerts" model= "Model.EmailSendingResult"/>
                    <partial name="Partials/Inquiry/_InquiryForm" model= "Model.TrainerInquiryEmailRequest"/>
                </section>
            </div>
        </div>
    </div>
</div>
