<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smart.FA.Catalog.Showcase.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="body-page">
    <div class="page">
        <header class="header">
            <div class="header-band">
                <a href="#" class="header-band__link"> Accès membre </a>
            </div>
            <nav class="header-nav">
                <div class="header-nav__logo_container">
                    <a class="header-nav__logo-link" asp-area="" asp-page="/Index">
                        <img src="images/smart-logo--white-with-padding.svg" alt="Smart logo" class="header-nav__logo">
                    </a>
                </div>
                <ul class="header-nav__ul">
                    <li class="header-nav__item">
                        <a class="header-nav__link" asp-area="" asp-page="/Index">Formateurs Associés</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link" asp-area="" asp-page="/Trainings">Formations</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link" asp-area="" asp-page="/Trainers">Formateurs</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <main role="main" class="main">
            @RenderBody()
        </main>
        

        <footer class="footer">
            <div class="footer-section">
                <div class="footer-section__item">
                    <h2 class="footer-section__title">Accès rapides</h2>
                    <ul class="footer__links">
                        <li><a class="footer__link" asp-area="" asp-page="/Legal">Mentions légales</a></li>
                        <li><a class="footer__link" asp-area="" asp-page="/Contact">Contact</a></li>
                        <li><a class="footer__link" asp-area="" asp-page="/Gdpr">RGPD / Confidentialité</a></li>
                        <li><a class="footer__link" asp-area="" asp-page="/UserPolicy">Charte d'utilisation</a></li>
                    </ul>
                </div>
                <div class="footer-section__item">
                    <h2 class="footer-section__title">Nos sites</h2>
                    <ul class="footer__links">
                        <li><a href="https://kronik.smart.coop" class="footer__link"><span class="label">Kronik, le blog</span></a></li>
                        <li><a href="https://smartbe.be" class="footer__link"><span class="label">Smartbe.be</span></a></li>
                    </ul>
                </div>
                <div class="footer-section__item">
                    <h2 class="footer-section__title">Suivre</h2>
                    <ul class="footer_icons">
                        <li class="footer_icons__item">
                            <a href="https://twitter.com/SMartBe_FR" class="footer_icons__link"><img src="./icons/twitter.svg" class="o-svg-icon" /></a>
                        </li>
                        <li class="footer_icons__item">
                            <a href="https://www.facebook.com/SMartBeFR/" class="footer_icons__link"><img src="./icons/facebook.svg" class="o-svg-icon s" /></a>
                        </li>
                        <li class="footer_icons__item">
                            <a href="https://www.linkedin.com/company/smartbefr/" class="footer_icons__link"><img src="./icons/linkedin.svg" class="o-svg-icon" /></a>
                        </li>
                        <li class="footer_icons__item">
                            <a href="https://www.youtube.com/channel/UCWfo_GiuDq6qNiW2IT5JOJg" class="footer_icons__link"><img src="./icons/youtube.svg" class="o-svg-icon" /></a>

                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer-attribution">
                &copy; Smart. All rights reserved 2022
            </p>
        </footer>
    </div>
    <script src="~/js/index.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
