@page "/curu"
@model Smart.Unity.Web.Pages.Curu.Curu

<div class="u-scroll-wrapper">
    <div class="u-scroll-wrapper-body">
        <div class="u-spacer-l">
            <div class="c-content">

                <h1>CONTRAT D’UTILISATION</h1>

                <smart-accordion title="Article 1">
                    <p>
                        L’utilisateur du site internet www.smart.unity.fr est un professionnel de la santé qui souhaite utiliser le site internet www.smart.unity.fr.
                    </p>
                </smart-accordion>

                <smart-accordion title="Article 2">
                    <p>
                        L’utilisateur du site intsssssssssssssssssssernet www.smart.unity.fr est un professionnel de la santé qui souhaite utiliser le site internet www.smart.unity.fr.
                    </p>
                </smart-accordion>

            </div>
        </div>
    </div>
</div>
