<!DOCTYPE html>
<html class="u-maximize-height" dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TagHelpers.Training</title>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body class="u-maximize-height u-overflow-hidden">
<header class="u-position-relative">
    <div class="c-navbar c-navbar--scrollable c-navbar--bordered-bottom">
        <div class="c-toolbar">
            <div class="c-toolbar__left">
                <div class="c-toolbar__item">
                    <div class="c-brand c-brand--xsmall">
                        <a href="/">
                            <img src="~/images/logo.svg" alt="Smart">
                        </a>
                    </div>
                </div>
            </div>
            <div class="c-toolbar__right">
                <div class="c-toolbar__item">
                    <a class="c-user-navigation" href="#" data-menu="userMenu">
                        <div class="c-avatar c-avatar--img">
                            <img src="~/images/batman.jpg" alt="avatar">
                        </div>
                    </a>
                    <ul class="c-menu c-menu--large" id="userMenu">
                        <li class="c-menu__item">
                            <a class="c-menu__label" href="#">My profile</a>
                        </li>
                        <li class="c-menu__divider" role="presentational"></li>
                        <li class="c-menu__item">
                            <a class="c-menu__label" href="#">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

@RenderBody()

<script src="~/js/bundle-client.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
