@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training

@inject IStringLocalizer<CatalogResources> _localizer
@model Core.Domain.Dto.TrainingDto

<smart-card>
    <smart-card-body>
        <smart-card-title text="@Model.Title"></smart-card-title>
        <smart-muted-text text="@string.Join(", ", Model.TopicIds!.Select(topic => _localizer[Enumeration.FromValue<TrainingTopic>(topic).Name])) "></smart-muted-text>
    </smart-card-body>
    <smart-card-actions>
        <div class="o-flex o-flex--vertical-center o-flex--justify-between o-flex--spaced-wide">
            <smart-pill label="@(_localizer[Enumeration.FromValue<TrainingStatus>(Model!.StatusId).Name])"></smart-pill>
            <div class="c-button-toolbar">
                <a href="/admin/trainings/update/@Model!.TrainingId">
                    <smart-button leading-icon="EditAlt" button-style="Borderless"></smart-button>
                </a>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Model!.TrainingId">
                    <smart-button icon-only="true" leading-icon="Delete" button-style="Borderless" button-type="Submit"></smart-button>
                </form>
            </div>
        </div>
    </smart-card-actions>
</smart-card>
